.container{
    width: 100%;
    height: 100%;
    font-family: 'DM Sans';
    text-align: right;
}
.banner{
    width: 100%;
    height: 627px;
    margin-bottom: 143px;
    text-align: justify;
}
.SliderTitle{
    font-size: 75px;
    color: white;
    z-index: 2;
    margin: 75px 0 22px 0;
}
.devantimg{
    position: relative;
    top: 85px;
    left: 140px;
    width: 970px;
}
.bannerimg{
    width: 100%;
    z-index: -10;
    position: absolute;
}
.pitch{
    font-size: 38px;
    background-color: #00ff00;
    width: fit-content;
}
.apropos{
    display: flex;
    flex-direction: column;
    margin: 0 0 331px 140px;
    gap: 265px;

}
.contentPropos{
    display: flex;

}
.content{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
.number{
    width: fit-content;
    height: fit-content;
    font-size: 65px;
    background-color: #00ff00;
    padding: 0 30px 8px 30px;
    margin: 0;
}
.contentTitle{
    font-size: 70px;
    color: #615B57;
    margin: 5px 215px 45px 0;
}
.petitTitre{
    margin-right: 570px;
}
.txt{
    font-size: 30px;
    color: #615B57;
}
.btnmore{
    background-color: #000000;
    color: #ffffff;
    border-radius: 45px;
}
.txtbtn{
    padding: 9px 72px 12px 64px;
    font-size: 29px;
    margin: 0;
}
.dimensionimg{
    width: 814px;
    height: 560px;
}
.jobs{
    display: flex;
    justify-content: flex-end;
    gap: 300px;
    margin-bottom: 158px;
}
.contentjobs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 271px;
}
.card{
    position: absolute;
    left: 140px;
    top: 4637px;
    display: flex;
    z-index: 5;
    gap: 120px;
}
.carte{
    width: 407px;
    height: 121px;
    font-size: 15px;
    text-align: left;
    box-shadow: 1px 1px 10px #707070;
    background-color: #ffffff;
}
.vert{
    background-color: #00ff00;
    font-size: 30px;
    text-align: center;
}
.txtT{
    margin-right: 350px;
    color: #000000;
    margin-left: 35px;
}
.txtP{
    color: #615B57;
    margin-left: 35px;
    margin-right: 180px;
}
.txtcarte{
    margin-top: 25px;
}